<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form id="form">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        required
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        required
      />
      <button type="submit">Login</button>
      <a href="/resetpassword">Forgot Password</a>
      <a href="/signup">Sign Up</a>
      <fieldset>
        <legend>Or</legend>
        <button type="button">Login with Google</button>
      </fieldset>
    </form>
    <pre id="form-body">Form Body Shows Here</pre>
    <script>
      const form = document.getElementById("form");

      function submitCatcher(event) {
        event.preventDefault();
        const formData = new FormData(this);
        let body = {};
        formData.forEach((value, key) => (body[key] = value));
        let jsonBody = JSON.stringify(body);
        document.getElementById("form-body").innerText = JSON.stringify(body);

        fetch("/auth/login", {
          method: "POST",
          body: jsonBody,
          headers: { "Content-Type": "application/json" },
        })
          .then((res) => res.json())
          .then((data) => {
            if (data.success) {
              window.location.href = "http://localhost:5000";
            }
          })
          .catch((err) => console.log(err));
      }

      form.addEventListener("submit", function (event) {
        submitCatcher.bind(this)(event);
      });
    </script>
  </body>
</html>
